{% extends "base.html" %}

{% block error %}
{% set message = get_flashed_messages()[0] %}
  {% if message %}
    {% if message.error == True %}
      <div class="alert alert-danger"><span class="glyphicon glyphicon-remove"></span>{{ message.text|safe }}</div>
    {% elif message.error == False %}
      <div class="alert alert-success"><span class="glyphicon glyphicon-thumbs-up"></span>{{ message.text|safe }}</div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
<br>
<a href="/bub/admin/logout">Logout</a><br>
<a href="/bub/admin/queue/">Mass-Upload Queue</a>
<br>
<form method="POST" action="" role="form" class="form-horizontal">
    {{form.hidden_tag()}}
    <fieldset>
    <!-- Text input: IDs-->
    <div class="form-group {% if error %}has-error{% endif %}" >
    <label class="col-md-2 control-label" for="ids"></label>  
      <div class="col-md-8">
      
        <textarea placeholder="Enter Google-Books IDs (seperated by space/comma or newline)" rows="5" cols="50" name="ids" id="ids" class="form-control input-md" required=""></textarea>
      </div>
    </div>

<!-- Text input: Lnauage-->
    <div class="form-group" >
    <label class="col-md-2 control-label" for="language"></label>  
      <div class="col-md-8">
        <input placeholder="Language for all the above books (optional)" name="language" id="language" class="form-control input-md" type="text">
      </div>
      <a data-toggle="tooltip" data-html="true" data-placement="auto left" animation=true title="<B>Note:</B> This language will be set for all the books specified.<br>eg: English or en<br>Leave blank to use defualt language by Google-books."><B><span class="glyphicon glyphicon-info-sign"></span></B></a>
    </div>
    
    <!-- Text input: EMAIL-->
    <div class="form-group {% if _errorNo == 5 %}has-error{% endif %}">
    <label class="col-md-2 control-label" for="email"></label>  
      <div class="col-md-8">
        <div class="input-group">
          <span class="input-group-addon">
		       <input type="checkbox" name="checkbox" onclick="toggle_state('email', this.checked)" checked>
	        </span>
          <input id="email" name="email" placeholder="Email Address" class="form-control input-md" required="" type="email" maxlength="100" {% if form.email.data %}value = "{{form.email.data}}"{% endif %}>
        </div>
      </div>
      <a data-toggle="tooltip" data-html="true" data-placement="auto left" animation=true title="<B>This email-id will be used to notify you when all the uploads are complete.<br>Uncheck to continue without notification."><B><span class="glyphicon glyphicon-info-sign"></span></B></a>
    </div>
    
    <!-- Button -->
    <div class="form-group">
    <label class="col-md-2 control-label" for="upload"></label>
      <div class="col-md-8">
        <button id="submit" name="submit" type="submit" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-upload"></span>Mass Upload</button>
      </div>
    </div>
    
  </fieldset>
</form>
<script>
  function toggle_state(id,status)
  {
    status=!status;
    document.getElementById(id).disabled = status;
  }
  $(function () { $("[data-toggle='tooltip']").tooltip(); });
  
</script>

{% endblock %}
